.home-right-my-loans-parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-right-my-loans-heading{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.home-right-my-loans-heading h1{
    letter-spacing: 1px;
}
.home-right-my-loans-heading p{
    color: gray;
    font-size: 15px;
}

.my-loans-cards-parent{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.my-loans-card-main{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 0px 0px 1px;
    border-radius: 10px;
}
.my-loans-card-main div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my-loans-card-main h4{
    font-size: 16px;
    font-weight: 300;
    color: gray;
}
.my-loans-card-main h4 span{
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 300;
    color: blueviolet;
}
.my-loans-card-main main{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}
.my-loans-card-main main button{
    border-radius: 10px;
    padding: 6px;
    background-color: white;
    border: 1px solid blueviolet;
}
.my-loans-card-main button:hover{
    background-color: blueviolet;
    color: white;
}
#download-loan-recipet{
    border-radius: 10px;
    padding: 7px;
    background-color: white;
    border: 1px solid blueviolet;
}

#download-loan-recipet:hover{
    border-radius: 10px;
    padding: 7px;
    background-color: blueviolet;
    color: black;
    border: 1px solid blueviolet;
}