.user-transaction-history-parent{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.user-transaction-history-heading{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.user-transaction-history-heading h1{
    letter-spacing: 1px;
}


.user-page-transaction-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center ;
    align-items: center;
}
.head-user-trans {
    border-bottom: 1px solid lightgray;
}
.head-user-trans p{
    text-transform: uppercase;
    font-size: 13px;
}
.user-page-transaction-table button{
    width: 80px;
    padding: 4px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid blueviolet;
}

@media screen and (max-width:773px) {
    .user-page-transaction-table p{
        font-size: 10px;
    }
    .user-page-transaction-table button{
        width: 60px;
        padding: 1px;
        font-size: 10px;
    }
}