.home-admin-transactions-parent{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-admin-dashboard-transaction-table{

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap: 2px;
 

}
.home-admin-dashboard-transaction-table div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-admin-dashboard-transaction-table img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -50px;
}
.home-admin-dashboard-transaction-table button{
    width: 80px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;

}

@media screen and (max-width:617px) {
    .home-admin-dashboard-transaction-table p{
        font-size: 9px;
    }
    .home-admin-dashboard-transaction-table img{
        width: 20px;
        height: 20px;
    }
    .home-admin-dashboard-transaction-table button{
        padding: 1px;
        width: 40px;
        font-size: 8px;
    }
}