.home-user-profile-parent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 20px;
}
.home-user-details-heading{
    display: flex;
    gap: 30px;
  
}

.home-user-profile-details-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-user-profile-details-left img{
    width: 300px;
}
.home-user-profile-details-left h6{
    text-align: center;
}
.home-user-profile-details-left h6 i{
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
}
.home-user-profile-details-left h6 span{
    font-weight: 400;
    font-size: 28px;

}

.home-user-profile-details-left button{
    padding: 6px;
    background-color: white;
    color: white;
    border: 1px solid blueviolet;
    border-radius: 7px;
    color: black

}

.home-user-profile-details-right{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}

.home-user-profile-details-right main{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.home-user-profile-details-right main div h6{
    font-weight: 400;
    color: gray;
}
.home-user-profile-details-right main div h6 span{
    color: blueviolet;
    margin-left: 20px;
}
.user-card-admin-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.user-card-admin-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-card-admin-main h1{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    color: blueviolet;

}

.user-card-admin-details div{
    display: flex;
    gap: 10px;
}
.user-card-admin-details div button{
    padding: 7px;
    border: 1px solid blueviolet;
    background-color: white;
    border-radius: 7px;
}