.home-user-profile-parent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 20px;
}

.home-user-profile-admin-parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-user-profile-admin-heading{
    display: flex;
    justify-content: space-between;

}
.home-user-profile-admin-heading main{
    display: flex;
    gap: 10px;
}
.home-user-profile-admin-heading main div{
   display: flex;
   flex-direction: column;
   gap: 3px;
}
.home-user-profile-admin-heading main div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.home-user-profile-admin-heading main div h6{
    font-weight: bold;
}
.home-user-profile-admin-heading main div p{
    font-weight: 400;
    color: gray;
}


.home-user-profile-admin-heading main div h5{
    font-weight: 400;
    color: gray;
    font-size: 15px;
}

.home-user-profile-admin-heading main div h4{
    font-weight: 500;
    color: black;
    font-size: 15px;
}

.home-user-profile-admin-heading main div button{
    padding: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
}

.user-card-admin-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
.user-card-details-card-parent{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user-card-admin-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-card-admin-main h1{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    color: blueviolet;

}

.user-card-admin-details div{
    display: flex;
    gap: 10px;
}
.user-card-admin-details div button{
    padding: 2px;
    border: 1px solid blueviolet;
    background-color: white;
    border-radius: 7px;
}
.user-card-admin-details div button:hover{
    background-color: blueviolet;
    color: white;
}

.home-user-profile-admin-details{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
}
.home-user-profile-admin-details div{
    border-bottom: 1px solid lightgray;
}
.home-user-profile-admin-details div h6{
    font-weight: 400;
}
.home-user-profile-admin-details div h6 span{
    margin-left: 10px;
}