.home-user-cards-parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-user-card-heading{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
}
.home-user-card-headings h6{
    text-decoration: underline;
    font-weight: bold;
    color: blueviolet;
    cursor: pointer;

}

.home-user-card-headings h6:hover{
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    
}


.home-user-card-heading h1{
    letter-spacing: 1px;
}
.home-user-card-heading p{
   
        color: gray;
        font-size: 15px;
    
}

.user-card-div-main{
    display: flex;
    gap: 50px;
}

.main-card{
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    width: 400px;
    padding: 10px;
    height: 250px;
    border-radius: 10px;
    background: rgb(24,20,60);
    color: white;
    background: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg');
}

.main-card-heading{
    display: flex;
    justify-content: space-between;
}

.main-card-user-details{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 120px;
}
.main-card-user-details h4{
    font-size: 17px;
}
.main-card-user-details p{
    letter-spacing: 3px;
}

.main-card-card-details{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    

}
.main-card-card-details img{
    width: 50px;
}

.main-card-card-details p span{
    margin: 0px 10px;
    letter-spacing: 5px;
}

.main-card-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-card-right-money-details-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px;
    text-align: center;
    background: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg');
    color: white;
}

.main-card-right-money-details-div div{
    display: flex;
    flex-direction: column;
}
.main-card-right-money-details-div div p{
    color: white;
    font-weight: 400;
}
.main-card-right-money-details-div div h2{
    font-size: 22px;
    color: white;
    font-weight: 300;
}

.main-card-right-account-holder-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg');
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.main-card-right-account-holder-details h6{
    font-weight: 400;
    font-size: 12px;
}

.main-card-right-account-holder-details section{
    display: flex;
    justify-content: space-between;
}

.main-card-right-account-holder-details div p img{
    width: 20px;
}
.main-card-right-account-holder-details p span{
    margin-left: 9px;
}

.card-buttons-div button{
    padding: 9px;
    border: 1px solid blueviolet;
    background-color: white;
    border-radius: 8px;
}


.card-buttons-div button:hover{
    padding: 9px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    border-radius: 8px;
    color: white;
}