.default-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 60px;
}
.default-card div img{
    width: 90%;
}

.default-card div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.default-card div h1{
    font-size: 52px;
    color: rgb(24,20,60);
    font-weight: bold;
    width: 600px;
}

.default-card div p{
    width: 500px;
    color: rgb(28, 23, 75);
}

.default-card div button{
    padding: 10px;
    width: 200px;
    border: none;
    color: white;
    background-color: blueviolet;
}
.default-card div button:hover{
    border: 1px solid blueviolet;
    background-color: white;
    color: black;
}

@media screen and (max-width:912px) {
    .default-card{
        flex-direction: column;
    }
    .default-card div h1{
        width: 100%;
        text-align: center;
    }
    .default-card div {
        justify-content: center;
        text-align: center  ;
        align-items: center;
    }
    .default-card div p{
        width: 100%;
    }
}