.home-admin-loan-requests-parent{
    display: flex;
    flex-direction: column;
    margin-right: 20px;

}
.home-admin-loan-requests-heading{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.home-admin-loan-requests-heading h1{
    letter-spacing: 1px;
}
.home-admin-loan-requests-heading p{
    font-size: 15px;
    color: gray;
}

.btn-loan-req-div button{
    background-color: white;
    border: 1px solid blueviolet;
    padding: 4px 6px;
    
}
.home-admin-credit-req-tables{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.home-admin-credit-req-tables div{
    display: flex;
    gap: 7px;
    align-items: center;
}