.home-dashboard-parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
 
}
.heading-dashboard{
    margin-top: 10px;
    
}
.heading-dashboard P{
    color: grey;
    font-size: 15px;
}
