.home-dashboard-parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
 
}
.heading-dashboard{
    margin-top: 10px;
    
}
.heading-dashboard P{
    color: grey;
    font-size: 15px;
}

.home-dashboard-bank-details{
    display: flex;
    gap: 10px;
    overflow: hidden;
    overflow:auto;
   
    height: 170px;
}

.home-dashboard-bank-main-card{
    display: flex;
    width: 300px;
    border: 1px solid lightgray;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0px 0px 1px;
    border-radius: 7px;
    align-items: center;
    background: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg');
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
.home-dashboard-bank-main-card:hover{
   padding: 0px;
   opacity: 0.7;
}


.home-dashboard-bank-main-card button{
    background-color: transparent;
    border: none;
}

.home-dashboard-bank-main-card button i{
    font-size: 29px;
    color: white;
}
.home-dashboard-bank-main-card h5{
    font-weight: 400;
    font-size: 17px;

}
.home-dashboard-bank-main-card p{
    font-weight: 300;

    font-size: 25px;
}

.home-dashboard-bank-pie-charts{
    display: flex;
    margin-top: 10px;
}

.home-dashboard-bank-pie-charts div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid lightgray;
    gap: 10px;
}

.home-dashboard-loan-heading{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
}

.home-dashboard-loan-heading h3{
    font-size: 22px;        
}
.home-dashboard-loan-heading p{
    font-size: 13px;
    color: gray;
}

@media screen and (max-width:817px) {
    .home-dashboard-bank-pie-charts{
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
    }
}