.user-dashboard-parent{
    display: flex;
    flex-direction: column;
    gap: 30px;
  
}
.userdashboard-heading{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.userdashboard-heading h1{
    margin-top: 20px;
    letter-spacing: 1px;
}
.userdashboard-heading h1 span{
    color: blueviolet;
}
.userdashboard-heading p{
    color: gray;
        font-size: 15px;
}

.user-balance-dashboard{
    display: flex;
  

}

.user-balance-card-parent{
    display: flex;
    gap: 10px;
}
.user-balance-dashboard-main-card{
    display: flex;
   justify-content: space-between;
    gap: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    width: 320px;
    background: rgba(24, 20, 60, 0.466);
    height: 190px;
    color: white;
    border-radius: 10px;
    background-image: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg');
}
.user-balance-dashboard-main-card p{
    font-size: 25px;
}


.user-balance-dashboard-main-card div img,.user-balance-dashboard-main-card-2 div img{
    width: 60px;
}



.user-balance-dashboard-main-card-2{
    display: flex;
    justify-content: space-between;
     gap: 10px;
     border: 1px solid lightgray;
     padding: 10px;
     width: 320px;
     background: rgba(24, 20, 60, 0.466);
     height: 190px;
     color: white;
     border-radius: 10px;
     background-image: url('https://img.freepik.com/free-vector/red-wavy-background_1189-269.jpg?t=st=1742144590~exp=1742148190~hmac=58499faebca52b4edf5bbae339e2b93062d3cbd7b10432b9bf782e4c4da83de8&w=826');
}

.user-balance-dashboard-main-card-2 p{
    font-size: 25px;
}

.pie-chart-user-div{

    padding: 4px;
   
}









.user-dashboard-transactions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-dashboard-transactions-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-dashboard-transactions-heading button{
    width: 90px;
    background-color: white;
    border: 1px solid blueviolet;
    padding: 5px;
    color: black;
}
.user-dashboard-transactions-heading button:hover{
    background-color: blueviolet;
    color: white;
}
.user-dashboard-transactions-heading h1{
    font-size: 22px;
}
.user-banks-name{
    display: flex;
    gap: 20px;
   
}
.user-banks-name button{
    background-color: white;
    border: none;
    color: gray;
}

.user-bank-balance{
    display: flex;
    justify-content: space-between;
}

.user-bank-balance-heading{
    display: flex;
    gap: 10px;
    align-items: center;
}
.user-bank-balance-heading p{
    font-weight: bold;
}
.user-bank-balance-heading img{
    width: 100px;
}
.user-bank-balance button{
    width: 90px;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    padding: 5px;
    color: white;
}
.user-transaction-list{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr; 
    padding: 10px;
    align-items: center;
  
}
.user-transaction-list button{
    width: 90px;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    padding: 5px;
    color: white;
}

@media screen and (max-width:703px) {
    .balance-left{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .user-transaction-list p{
        font-size: 15px;
    }
    .user-transaction-list{
        padding: 0px;
    }
    .user-transaction-list button{
        
        background-color: blueviolet;
        border: 1px solid blueviolet;
        padding: 0px;
        color: white;
    }

}





@media screen and (max-width:565px) {
    .user-transaction-list p{
        font-size: 11px;
    }
    .user-dashboard-balance{
        display: flex;
        flex-direction: column-reverse;
    }
}